/// import global scss here instead of import this local scss to global scss folder
@import "../../scss/variables";
@import "../../scss/mixins";

// diimport dari scss/themes/components
.font-size-14px {
  font-size: 14px !important;
}

.C--button.type--1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 10px 16px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  background-color: #999999;
  background-image: linear-gradient(0deg, #999999 0%, #b3b3b3 100%);
  outline: none;
  outline: 0;
  outline-offset: 0;
  @include border-radius($border-radius);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;

  &:hover {
    background-color: #9a9a9a;
    background-image: none;
  }

  &:active {
    background-color: #666666;
  }

  &:focus {
    background-color: #666666;
  }

  /* if use icon */
  .material-icons {
    margin-left: -4px;
    margin-right: 4px;
  }

  /* full width */
  &.-full-width {
    display: block;
    width: 100%;
  }

  /* type: small */
  &.-size--small {
    padding: 6px 16px;
  }

  /* theme color: primary */
  &.-theme-primary {
    background-color: #f18700;
    background-image: linear-gradient(0deg, #f18700 0%, #f39f33 100%);

    &:hover {
      background-color: #f18700;
      background-image: none;
    }

    &:active {
      background-color: #b36400;
    }

    &:focus {
      background-color: #b36400;
    }
  }

  /* theme color: secondary */
  &.-theme-secondary {
    background-color: #999999;
    background-image: linear-gradient(0deg, #999999 0%, #b3b3b3 100%);

    &:hover {
      background-color: #9a9a9a;
      background-image: none;
    }

    &:active {
      background-color: #666666;
    }

    &:focus {
      background-color: #666666;
    }
  }

  /* theme color: dangerous */
  &.-theme-dangerous {
    background-color: #9f041b;
    background-image: linear-gradient(0deg, #9f041b 0%, #f5515f 100%);

    &:hover {
      background-color: #9f041b;
      background-image: none;
    }

    &:active {
      background-color: #7c0315;
    }

    &:focus {
      background-color: #7c0315;
    }
  }

  /* theme color: binus-blue */
  &.-theme-binus-blue {
    background-color: #026ca2;
    background-image: linear-gradient(0deg, #026ca2 0%, #028ed5 100%);

    &:hover {
      background-color: #026ca2;
      background-image: none;
    }

    &:active {
      background-color: #014a6f;
    }

    &:focus {
      background-color: #014a6f;
    }
  }

  /* theme color: ghost */
  &.-theme-ghost,
  &.-theme-ghost-borderless {
    background-color: #fff;
    background-image: none;
    outline: 2px solid #999999;
    outline-offset: -2px;
    color: #666666;

    &-borderless {
      outline: 0;
      outline-offset: 0;
    }

    &:hover {
      background-color: #fdf3e6;
      color: #f18700;
    }

    &:active {
      background-color: #fadbb3;
      outline: 2px solid #f18700;
      outline-offset: -2px;
    }
  }

  /* theme color: ghost inverted */
  &.-theme-ghost-inverted,
  &.-theme-ghost-inverted-borderless {
    background-color: #fff;
    background-image: none;
    outline: 2px solid #999999;
    outline-offset: -2px;
    color: #f18700;

    &-borderless {
      outline: 0;
      outline-offset: 0;
    }

    &:hover {
      background-color: #fdf3e6;
      color: #666666;
    }

    &:active {
      background-color: #fadbb3;
      outline: 2px solid #f18700;
      outline-offset: -2px;
    }
  }

  &.-theme-disabled {
    background-color: #ebebeb;
    background-image: none;
    outline: 1px solid #d9d9d9;
    outline-offset: -1px;
    color: #b8b8b8;
    cursor: not-allowed;
  }

  /* loading state */
  &.-is-loading {
    position: relative;
    color: transparent;

    &:hover {
      color: transparent;
    }

    &:after {
      display: block;
      position: absolute;
      top: calc(50% - (20px / 2));
      left: calc(50% - (20px / 2));
      content: "";
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      -webkit-animation: spin-around 0.5s infinite linear;
      animation: spin-around 0.5s infinite linear;
    }
  }
}