.page-header {
    padding: 10px 20px;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.page-title-global {
    font-size: 24px;
    margin: 0;
}

h3 {
    font-weight: 500;
    line-height: 1.2;
}