:root,
[data-bs-theme=light] {
    --bg-color-lp: lightblue;
}

:root,
[data-bs-theme=dark] {
    --bg-color-lp: rgb(36 48 63);
}

.heroesContent {
    background-color: var(--bg-color-lp);
    padding: 48px;
    width: 100%;
    border-radius: 25px;
}

@media (min-width: 768px) {
    .footer {
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        flex: 0 0 50px;
        margin-top: 0.25rem;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 0.5rem 1rem 0 1rem;
        flex: 0 0 50px;
        margin-top: 0.25rem;
        text-align: center;
    }
}